.Home {
  width: 100vw;
  height: 100vh;;
}

.aboutWrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutWrapper .img {
  width: 15%;

  border-radius: 50%;

  outline: 4px solid black;
  border: 2px solid white;

  margin-top: 40px;
}

.aboutWrapper .h3, .p {
  margin-top: 15px;
}

.aboutWrapper .h2 {
  margin-top: 50px;
}

.aboutWrapper .p {
  color: rgb(21, 163, 21);
}

.techWrapper {
  width: 60%;

  display: flex;
  justify-content: center;
  gap: 50px;  
  margin-top: 30px;
}

.techWrapper .tech {
  width: 100px;

  padding: 20px;

  background-color: black;
  color: aliceblue;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.tech .techLogo {
  font-size: 32px;
}